<html>
    <head>
        <title>Case Chaser</title>
    </head>
    <style>
        body {font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; font-size:18px; }
        p, h1, form, button { border:0; margin:0; padding:0; }
        th, td { font-size:14px; border:1px solid black; padding:5px; }
    </style>
    <body>
    {% load extras %}
    <div id=\"stylized\" class=\"myblock\">
        {% if data %}
            <h1>Chasing Results</h1>
            {{data|table|safe}}
            <br><br>
            {{table|table|safe}}
            {% if cases_closed_since_last_chase %}
                <br><br>
                Updating closures:
                {{cases_closed_since_last_chase|table|safe}}
            {% endif %}
        {% else %}
            <form method="post">
                {% csrf_token %}
                <input type="checkbox" name="sendit" value="1" checked="checked">Send Email?<br>
                <input type="submit" value="Start Chase Checker"><br><br>
            </form>
            Last run results ({{ last_time }}): <a href="/chased/">here</a><br>
        {% endif %}
    </div>
    </body>
</html>