<html>
    <head>
        <title>Case Chaser</title>
    </head>
    <style>
        body {font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; font-size:18px; }
        p, h1, form, button { border:0; margin:0; padding:0; }
        th, td { font-size:14px; border:1px solid black; padding:5px; }
    </style>
    <body>
    {% load extras %}
    <div id=\"stylized\" class=\"myblock\">
        <form method="post">
            {% csrf_token %}
            <input type="checkbox" name="sendit" value="1" checked="checked">Send Email?<br>
            <input type="submit" value="Start Chase Checker"><br><br>
        </form>
        {% if message %}
            <h1>Chasing Results</h1>
            {{data|table|safe}}
            {% for key, values in tables.items %}
                <h2>{{key}}</h2>
                {{values|table|safe}}
            {% endfor %}
            <br>DEBUG:<br>
            {{update_debug|table|safe}}
        {% else %}
            Last run results ({{ last_time }}): <a href="last_chase_ruslts.html">here</a><br>
        {% endif %}
    </div>
    </body>
</html>